body {
  background-color: #cdc8e2;
  background-image: url("https://i.pinimg.com/originals/45/65/57/4565573dc4e1b74271d5810ecdb89c6d.gif");
  background-size: 20vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-position-y: 40px;
  
}
.container {
  background-color: rgba(123, 63, 191, 0.2);
  border: 3px solid #5a189a;
  border-radius: 20px;
  padding: 30px;
  width: 70%;
  max-width: 500px;
  margin: 210px auto 0 auto; /* 🔹 mas malaki ang top margin = mas ibaba ang box */
  text-align: center;
  box-shadow: 0 0 15px rgba(90, 24, 154, 0.5);
  position: relative; /* 🔹 para hindi fixed, sumusunod lang sa scroll */
}


h2 {
  text-align: center;
  margin: auto;
  color: #3b0066;
  font-family: 'Red Hat Mono', sans-serif;
  font-size: 40px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-weight: 900;
}

h1 {
  text-align: center;
  margin: auto;
  padding: 10px;
  font-size: 50px;
  font-family: 'Bagel Fat One', sans-serif;
  color: rgb(72, 43, 99);
}

h3 {
  border: 2px solid rebeccapurple;
  padding: 5px;
  font-family: 'Red Hat Mono', sans-serif;
  font-size: 15px;
  border-radius: 10px;
  color: blueviolet;
  width: 150px;
  text-align: center;
  background-color: #f3e5ff;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  h3 {
    width: 100%;
    max-width: 250px;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .container {
    width: 90%;
    padding: 20px;
  }
}
